.frontpage-hero-block {
  margin: 2rem;
  background-color: #121212;

  // @media screen and (min-width: 1200px) {
  //   position: sticky;
  //   top: 0;
  //   z-index: 99;
  // }
}

.woocommerce ul.products::before {
  content: '';
  display: none;
}

.related.products > ul {
  display: block;
}

.related.products > ul .price > .amount {
  color: black;
  font-size: 1rem;
}

.related.products {
  padding: 0 0.8rem;
}

// need to override some woo defaults here
// make it a direct child BUT beware
#site-content > ul.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--product-card-min-width), var(--product-card-max-width)));

  place-items: center;
  place-content: center;
  list-style-type: none;

  box-sizing: border-box;
  margin: auto 0;
  padding: 0 1.4rem;
  column-gap: 1.8rem;
  row-gap: 1.8rem;
  width: auto;

  .woocommerce-notices-wrapper {
    // display: none;
  }

  li {
    margin: 0;
  }
}

.img-aspect {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 4 / 4;
}

.cart-buttons-grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  justify-content: center;
  background-color: darkslategray;
}

.site-hr-rule {
  color: 1px solid rgba(0, 0, 4, 0.125);
}

.product.woocommerce.add_to_cart_inline {
  border: none !important;
  padding: 0 !important;
}

::selection {
  background-color: #a9a9a9;
  color: crimson;
  padding: 0 0.25rem;
}

.wc-block-mini-cart__icon {
  stroke: white;
}

.my-widget-cart {
  .wc-block-mini-cart__badge {
    color: var(--site-colour-primary-dark);
  }
}
