.single-product-wrapper {
  width: 94%;
  margin: 0.75rem auto;
}

.woocommerce-breadcrumb {
  display: flex;
  justify-content: flex-end;

  span {
    background-color: lightgrey;
    font-weight: bold;
    padding: 0.1rem 0.666rem;
    border-radius: 4px;
  }

  span:last-of-type {
    // font-style: oblique;
  }
}

table.variations {
  .label {
    line-height: 0;
    padding: 0;
    padding-left: 0.66rem;
  }
}
.woocommerce-product-gallery__image {
  overflow: unset !important;
}

.woocommerce div.product div.images img {
  border-radius: 4px;
}
