.single-product-wrapper {
  width: 94%;
  margin: 0.75rem auto;
}

.woocommerce-breadcrumb {
  display: flex;
  justify-content: flex-end;
}

table.variations {
  .label {
    line-height: 0;
    padding: 0;
    padding-left: 0.66rem;
  }
}
.woocommerce-product-gallery__image {
  overflow: unset !important;
}

.woocommerce div.product div.images img {
  border-radius: 4px;
}
