.grid-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  grid-auto-rows: 1.2rem;
  grid-auto-flow: dense;
  width: 96%;
  margin: 3rem auto;
}

.grid-wrapper .product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  position: relative;
  overflow: clip;

  border-radius: var(--site-radius);
}

.grid-wrapper .product-card > img:first-of-type {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-wrapper > div:nth-child(1n) {
  grid-column: span 2;
  grid-row: span 16;
}

.grid-wrapper > div:nth-child(2n) {
  grid-column: span 2;
  grid-row: span 20;
}

.grid-wrapper > div:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 18;
}

.card-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 1);
  min-height: 80px;
  margin: auto 1rem;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: var(--site-radius);
  border-bottom-left-radius: var(--site-radius);

  color: snow;
  text-align: left;
  text-wrap: balance;
  font-size: 1.35rem;
  padding: 0.4rem;
  font-weight: 300;
  a {
    background-color: var(--button-background-colour);
  }
}

.small-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
