.floating-cart-widget {
  &.hide {
    display: none;
  }

  &.show {
    position: fixed;
    top: 50%;
    z-index: 500;
    display: flex;
  }
}

.tv {
  position: relative;
  width: 60px;
  height: 40px;
  background: var(--floating-widget-bc);
  border-radius: 50% / 10%;
  color: var(--floating-widget-col);
  text-align: center;
  transform: translate(-50%, -50%);
}
.tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.floating-cart-info {
  position: fixed;

  bottom: 1rem;
  right: 1rem;
  z-index: 200;
  width: 60px;
  height: 60px;
  background-color: #fff;
  color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 2px #0000001a;
  border-radius: 50%;

  // transition: 0.5s ease-out;

  // padding: 10px 20px;
  img {
    width: 60%;
    height: auto;
  }

  .bubble {
    position: absolute;
    top: -7px;
    left: -12px;
    padding: 8px;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 33%;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1019607843);
    clip-path: circle(12px);
  }
}
