.toast {
  width: 300px;
  height: 64px;
  display: none;

  opacity: 0;
  pointer-events: none;
  background-color: snow;
  color: #000;
  box-shadow: 1px 1px 9px lightgrey;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1002;
  margin: 12px;
  border: 1px solid lightgrey;
  border-radius: 4px;

  .bar {
    display: inline-block;
    width: 7px;
    height: 90%;
    margin-left: 4px;
    background-color: green;
  }

  .toast-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    margin: 0 0.75rem;

    p,
    output {
      font-size: 1.2rem;
      white-space: break-spaces;
      word-wrap: break-word;
      font-weight: lighter;
    }
    svg {
      color: green;
    }
    .close {
      svg {
        color: darkgray;
        width: 24px;
        height: auto;
      }
    }
  }
}

.toast.toast-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  animation: FadeIn 5s ease-in-out;
  animation-fill-mode: initial;
  animation-iteration-count: 1;
}

@keyframes FadeIn {
  0% {
    right: 0;
    opacity: 0;
  }
  10% {
    right: 0;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 0;
  }
}
