:root {
  --woocommerce: orangered;
  --wc-green: #7ad03a;
  --wc-red: #a00;
  --wc-orange: #ffba00;
  --wc-blue: #2ea2cc;
  --wc-primary: orangered;
  --wc-primary-text: white;
  --wc-secondary: #ebe9eb;
  --wc-secondary-text: #515151;
  --wc-highlight: #77a464;
  --wc-highligh-text: white;
  --wc-content-bg: #fff;
  --wc-subtext: #767676;
  --popout-colour: #a9a9a9;
  --sale-colour: #a00;
  --notices-colour: #121212;
  --site-colour-primary-dark: #121212;
  --site-colour-primary-light: mintcream;
  --site-background-colour: gainsboro;
  --section-background-colour: white;
  --button-background-colour: #121212;
  --button-colour: white;
  --punchy-colour: mintcream;
  --floating-widget-bc: #121212;
  --floating-widget-col: white;
  --focus-colour: black;
  --focus-colour-bg: #d1d1d1;
  --focus-color-outline: darkgrey;
  --menu-font-size: 1.4rem;
  --desktop-menu-width: 340px;
  --product-card-max-width: 360px;
  --product-card-min-width: 320px;
}
